<% flash.each do |type, msg| %>
    <% case type %>
    <%when "error" %>
    <div class="alert alert-danger" role="alert">
        <% msg.each do |m|%>
        <div><%= m %></div>
        <% end %>
    </div>
    <% when "notice" %>
    <div class="alert alert-warning" role="alert">
        <% msg.each do |m|%>
        <div><%= m %></div>
        <% end %>
    </div>
    <% end %>
<% end %>